{% load static %}
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Biblioteca</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header class="topo">
        <h1><a href="{% url 'livraria:livro_lista' %}">Catálogo de Livros</a></h1>
        <nav>
            <a class="botao" href="{% url 'livraria:livro_criar' %}">+ Novo Livro</a>
        </nav>
    </header>
    <main class="conteudo">
     {% block conteudo %}{% endblock %}
    </main>
</body>
</html>